*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
    
}

body {
    overflow-x: hidden;
}

header{

    padding: 0.8vw 0;
   
}


.menu-selecionado{/* Mudando a cor da palavra GCP do logo */

    border-bottom: 0.2vw solid #07298B;

}

.menu-desktop a {
    position: relative;
}

.menu-desktop a::after{
    content: "";
    left: 0;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--blue);
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.9s;
    transform-origin: right;
}

.menu-desktop a:hover::after {
    transform: scaleX(1);
}

:root {
    --blue: #07298B;
}

.logo{/* Configurando o logo da nossa loja  */

    font-size: 1.5625vw;
    color: black ;
    font-weight: bold;
    width: 50%;

}

.logo img{

    width: 9.375vw;
}


.centro{

    max-width: 112.5vw;
    margin: 0 auto;
    padding: 0 4vw;
    font-size: 0.9375vw;
    margin-top: 2vw;
    
}



header > .centro{/* Usando o header para que as configurações do display flex fique só no primeiro centro */
    
    display: flex;/* Flex permite que o elemento se adequem de acordo a tela do dispositivo */

}



.menu-desktop{

    text-align: right;
    width: 50%;
    padding: 1vw;
  
}

.menu-desktop li{/* Configurando a lista */

    display: inline-block;/*  deixando o menu em linha*/
    font-size: 1.328125vw;
    margin-right: 1.171875vw;
    
}

.menu-desktop a{

    text-decoration: none;
    color: black;
}

.sessao-1 {

    display: flex;
    padding: 1.5625vw 0vw 0vw 3.90625vw;
}



.first-img img {

    width: 90.75vw;
    height: 39.0625vw;  
    
}

.sessao-2{

    display: flex;
    align-items: flex-end;

}

.sobre p{

    background-color: #33343F;
    color: white;
    padding: 7vw 3vw 7vw 3vw;
    margin-top: 2vw;
    font-size: 1.3vw;
    text-align: center;

}

.sobre {
    padding: 0vw 0vw 0vw 3.90625vw;
}


.info{

    display: flex;
    justify-content: center;
}


.info > div{
  
    font-size: 1.171875vw;
    text-align: center;
}







